body {
	background-color: #999;
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
	background-color: #fff;
	border: 4px solid #600;
	margin: 0 auto;
	padding: 1rem;
	width: 960px;
}

h1, h2, p {
	text-align: center;
}

h1 {
	color: #600;
	font-size: 3.2rem;
}

h2 {
	font-size: 2rem;
}

h2+p {
	font-size: 1.6rem;
}

p {
	font-size: .8rem;
}